* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 4rem;
  font-size: 1.6rem;
}
main {
}
.first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.div-for-price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.toggle {
  display: flex;
  gap: 3rem;
}
/* styles for switch */
.switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
}
.switch input {
  width: 0;
  height: 0;
  opacity: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: 0.5s;
  background-color: rgba(207, 216, 239, 1);
  border-radius: 3.4rem;
}
.slider::before {
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  left: 0.2rem;
  bottom: 0.25rem;
  background-color: rgba(255, 255, 255, 1);
  transition: 0.5s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: rgba(122, 234, 223, 1);
}

input:checked + .slider::before {
  transform: translateX(2.2rem);
}
